body {
  background-color:#FFC0CB;
  background-image: url(http://wallpapercave.com/wp/u1bLT9F.jpg);
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("https://www.britishbutterflies.co.uk/bbsplist.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
img {
  max-width:95%;
  height:auto;
}
h1{
  color: #620062;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  font-style: bold;
}
h2 {
  color: #C71585;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}
h4 {
  color: #C71585;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  text-align: left;
  margin: 25px;
}
h6 {

  font-family: 'Quicksand', sans-serif;
  text-align: right;
  margin-right: 20px;
  margin-top: 3px;

}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}
.value-props {
  margin: 40px auto;
  width: 66%;
}

.prop {
  border: 1px solid #620062;
  padding: 20px 0px;
  margin: 5px 0px;
  text-align: center;
}
p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.prop h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;	
}
p.now{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
}
ul{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  width: 60%;

}
a{
	margin: 10px;
}


